@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.homeImage {
  margin-top: 13%;
  max-height: 100%;
  max-width: 100%;
}

.DatePicker {
  margin-top: 10%;
  float: right;
  margin-right: 5%;
  margin-left: 70%;
}

.PredData {
  margin-left: 5%;
  float: left;
  width: 50%;
  padding: 1%;
}

.PredDataRight {
  float: left;
  padding: 1%;
  color: dimgray;
  width: 50%;
}

.PredDataRigh {
  float: right;
  padding: 1%;
  color: dimgray;
  width: 50%;
}
.ParamList {
  height: 200px;
  background-color: white;
  border: 1px solid gainsboro;
  overflow-y: scroll;
}
.FeatureList {
  float: right;
}
.ParamList .row {
  width: 100%;
  height: 30px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "candara";
}

.ParamList .row #title {
  flex: 80%;
}

.ParamList .row #val {
  flex: 20%;
  font-weight: bold;
}

.PredTitle {
  color: rgb(61, 190, 177);
  font-size: 17px;
}

.PredData #Acc {
  font-size: 43px;
  padding-top: 15%;
  text-align: center;
  margin-top: 15%;
}

.ModelView {
  border: 1px solid gainsboro;
  background-color: white;
  color: #696969;
  height: 130px;
  width: 700px;
  padding: 1%;
  display: table-cell;
}

.ModelsDiv {
  padding: 3%;
  flex: 1 1 0px;
}

.AccDiv {
  padding: 3%;
  flex: 1 1 0px;
}

.PredLeft {
  width: 100%;
  display: table;
  display: flex;
  flex-direction: row;
}
.Container {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.uploadPage {
  padding-top: 10%;
}
.drag-area {
  background: #77aed3;

  border: 2px dashed #fff;
  height: 430px;
  width: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.drag-area.active {
  border: 2px solid #fff;
}
.drag-area .icon {
  font-size: 100px;
  color: #fff;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#classification_charts {
  margin-top: 65px;
}

.anomaly_chart {
  display: "inline-block";
  width: "92%";
  margin-top: "65px";
  margin-bottom: "0px";
  margin-left: "auto";
  margin-right: "auto";
  padding-top: "5px";
  padding-bottom: "5px";
}

.information_table {
  font-family: "candara";
  text-align: "center";
  font-size: "50%";
  width: "70%";
  border: "1px solid black";
}

.attacksTable {
  border: 0.5px solid black;
  border-collapse: collapse;
  font-family: "candara";
  font-size: 15px;
}

th.attacksTable,
td.attacksTable {
  padding: 10px;
}

th.attacksTable {
  background-color: #0f4a8d5e;
}

.infoTitle {
  font-family: "candara";
  margin-top: 60px;
  margin-bottom: 5px;
}

.ConfusionMatrix {
  margin-top: 27%;
  margin-right: 10%;
  float: right;
}

.cmTable {
  border-collapse: collapse;
  font-family: "candara";
  font-size: 15px;
}

th.cmTable,
td.cmTable {
  padding: 10px;
  width: 20px;
  border: 1px solid gainsboro;
  background-color: white;
}

th.cmTable {
  background-color: #0f4a8d5e;
}

.train-button {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-right: 50px;
  border: none;
  color: white;
  font-family: candara;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122, 17, 8, 0.8);
  box-shadow: 0 8px 0 rgb(183, 9, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  transition: 0.4s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  float: right;
  z-index: 100;
}
button span {
  position: relative;
}

.train-button-pressed {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-right: 50px;
  border: none;
  color: white;
  font-family: candara;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122, 17, 8, 0.8);
  box-shadow: 0 8px 0 rgb(183, 9, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  transition: 0.4s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  float: right;
  z-index: 100;
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 red, 0 8px 6px rgba(0, 0, 0, 0.45);
}
