@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.homeImage {
  margin-top: 13%;
  max-height: 100%;
  max-width: 100%;
}

.DatePicker {
  float: right;
  margin-top: 5%;
  margin-right: 5%;
}

.PredData {
  margin-left: 10%;
  margin-right: 30%;
  width: 60%;
  padding: 1%;
  margin-top: 10%;
}

.PredDataRight {
  float: right;
  padding: 3%;
  margin-top: 10%;
  color: dimgray;
  background-color: white;
  border: 1px solid gainsboro;
  width: 45%;
}
.ParamList {
  float: right;
  height: auto;
  width: 97%;
}
.ParamList .row {
  width: 100%;
  height: 30px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ParamList .row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.ParamList .row #title {
  flex: 60%;
}

.ParamList .row #val {
  flex: 20%;
}

.PredTitle {
  color: turquoise;
  font-size: 25px;
}

.PredData #Acc {
  font-size: 70px;
  padding-top: 10%;
}

.ModelView {
  border: 1px solid gainsboro;
  background-color: white;
  color: #696969;
  height: 150px;
  width: 80%;
  padding: 1%;
}

.ModelsDiv {
  padding: 3%;
}

.AccDiv {
  padding: 3%;
}

.predDiv {
  float: right;
}

.PredLeft {
  float: left;
  width: 45%;
}
.Container {
  background-color: blue;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.uploadPage {
  padding-top: 5%;
}
.drag-area {
  background: #5256ad;

  border: 2px dashed #fff;
  height: 500px;
  width: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.drag-area.active {
  border: 2px solid #fff;
}
.drag-area .icon {
  font-size: 100px;
  color: #fff;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#classification_charts {
  margin-top: 65px;
}

.anomaly_chart {
  display: "inline-block";
  width: "92%";
  margin-top: "65px";
  margin-bottom: "0px";
  margin-left: "auto";
  margin-right: "auto";
  padding-top: "5px";
  padding-bottom: "5px";
}

.information_table {
  font-family: "candara";
  text-align: "center";
  font-size: "50%";
  width: "70%";
  border: "1px solid black";
}
